.my-container {
    height: 100%;
}

.content-row {
    height: 100%;
}

.my-player {
    display: flex;
    height: 100%;
    max-height: 100%;
    max-width: 90%;
}

.my-aside > div {
    width: 100%;
}

.my-title {
    min-height: 5%;
    max-height: 5%;
}